/* .qr-reader {
    width: 430px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
  } */


/* .qr-reader video {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 256;
  height: 256;
  object-fit: cover;
  transform: translateX(-50%) translateY(-50%);
}

.qr-reader .qr-box {
  width: 100% !important;
  left: 0 !important;
}

.qr-reader .qr-frame {
  position: absolute;
  fill: none;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
} */

/* Media Queries for mobile screens
  @media (max-width: 426px) {
    .qr-reader {
      width: 100%;
    }
  } */

.qr-reader{
  position: absolute;
  top: 10%;
  left: 50%;
  object-fit: cover;
  transform: translate(-50%);
}
.qr-reader video {
  width: 350px;
  height: 350px;
}

/* body {
  background-color: rgb(63, 61, 61);
} */